<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test Kinozal page">
    <test name="30/01/2023">
        <groups>
        </groups>
        <classes>
            <class name="TestPageKinozal"/>
        </classes>

    </test>
    <listeners>
        <listener class-name="liseners.MyLisener"></listener>
    </listeners>
</suite>